.button_small, .button {
    white-space: nowrap; /* Don't allow button labels to wrap */
    text-align: center; /* center the text */
    display: block; /* Make sure the thing is a block rather than span */
    float: left;
    height: 20px;
    line-height: 18px;
    border-width: 1px;
    border-style: solid;
    border-color:#cfd8e2 #c1cad3 #c1cad3 #cfd8e2;
    padding: 0 10px;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    background: #d7e2ee url("/images/interface/button_gradient.gif") 0 0 repeat-x;
    color: #264C73;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* border-radius: 5px; */
    -webkit-box-shadow: 0 1px 1px #FFF;
    -moz-box-shadow: 0 1px 1px #FFF;
    box-shadow: 0 1px 2px #FFF;
    /*-webkit-background-clip: padding-box;*/
    text-shadow:1px 1px 1px #FFF;
}

.pushed {
	background:#d7e2ee url("/images/interface/button_gradient.gif") 0 -18px repeat-x;
	}

a.button:hover, a.button_small:hover {
	color:inherit !important;
	}

a.button, a.button:link, a.button:visited {
	text-decoration:none;
	display:block;
	height:18px;
	}

.button_small {
    line-height: 14px;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    padding: 0 5px;
}

a.button_small {
    text-decoration: none;
    height: 13px;
}

.button.default, .button_small.default {
	font-weight:bold;
	}
.button.disabled, .button_small.disabled {
    color: #cfd8e2 !important;
    border-color: #cfd8e2;
    cursor: default;
}

.button_wrapper {
    overflow: hidden;
    margin-top: 10px;
    /* height: 22px; */
}

.button_wrapper button, .button_wrapper button_small {
    margin-right: 4px;
}

/* Pagination */
div.pagination {
    height: 20px;
    margin: 0;
    padding: 0;
}

div.pagination span, div.pagination a, div.pagination a:link, div.pagination a:visited, div.pagination em {
    	background:#d7e2ee url("/images/interface/button_gradient.gif") repeat-x;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 5px;
	line-height:18px;
	border-width:1px;
	border-style:solid;
	border-color:#cfd8e2 #c1cad3 #c1cad3 #cfd8e2;
	color:#264C73;
	-webkit-box-shadow:0 1px 1px #FFF;
	-moz-box-shadow:0 1px 1px #FFF;
	height:18px;
	font-size:11px;
}

div.pagination span.previous_page, div.pagination span.next_page div.pagination a.next_page{
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-topleft:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-top-left-radius:5px;

}

.date_picker_wrapper {
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
	}
.ie6 .date_picker_wrapper,
.ie7 .date_picker_wrapper {
	display:block;
	zoom:1;
	}
.date_picker_calendar {
	position:absolute;
	top:0;
	right:-2px;
	background-image:url("/images/tiles.png");
	width:21px;
	height:20px;
	border-width:1px;
	border-style:solid;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-background-clip:padding-box;
	}
.date_picker_calendar img {
	position:relative;
	top:2px;
	left:3px;
	}
