label {
    float: left;
    width: 5em;
    margin-right: 1em;
    text-align: right;
}

fieldset  {
    float: left;
    clear: left;
    width: 100%;
    margin: 0 0 -1em 0;
    padding: 0 0 1em 0;
}

fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

fieldset.submit {
    float: none;
    width: auto;
    border: 0 none #FFF;
    padding-left: 12em;
}