<h1>Coordinators</h1>
<% if @coordinators.empty? %>
<p>No coordinators available for display</p>
<% else %>
<table>
  <col/>
  <col/>
  <col/>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @coordinators.each | coordinator | do %>
    <tr>
      <td><%= format_coordinator_name(coordinator) -%></td>
      <td><%= coordinator.phone -%></td>
      <td><%= coordinator.email -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
