<% content_for :title, 'Coordinators' %>
<% content_for :bottom_load_js do -%>
   <%= javascript_include_tag "coordinators" -%>
<% end %>
<h1>Coordinators</h1>
<div class="button_wrapper">
  <p><%= link_to 'New Coordinator', new_coordinator_path, :class => 'insert button'-%></p>
</div>
<div id="coordinators_list">
<% if @coordinators.empty? %>
<p>No coordinators available for display</p>
<% else %>
  <%= render :partial => 'list' -%>
<% end %>
</div>
