<% content_for :title, 'Coordinators' %>
<h1>Coordinators</h1>
<div>
  <p><%= link_to 'New Coordinator', new_coordinator_path -%></p>
</div>
<% if @coordinators.empty? %>
<p>No coordinators available for display</p>
<% else %>
  <%= render :partial => 'list' -%>
<% end %>
