<h1>Coordinator</h1>

<ul>
  <li><strong>Name:</strong> <%= format_coordinator_name(@coordinator) -%></li>
  <li><strong>Phone:</strong> <%= @coordinator.phone -%></li>
  <li><strong>Email:</strong> <%= @coordinator.email -%></li>
</ul>
