$('#record_manager')
    .fadeOut('fast', function() {
        $(this).empty();
    });
$('#coordinators_list')
    .css('display', 'none')
    .html("<p>Stuff</p><%= escape_javascript(render(:partial => 'list')) -%>")
    .fadeIn('fast');
