<% content_for :title, 'Exhibitor Registrations' %>
<% content_for :bottom_load_js do -%>
   <%= javascript_include_tag "jquery/jquery.editinplace" -%>
   <%= javascript_include_tag "registrations" -%>
<% end %>

<h1>Exhibitor Registrations</h1>

<div class="button_wrapper">
  <p><%= link_to 'Register Exhibitor', unregistered_exhibitors_registrations_path, :class => 'insert button'-%></p>
</div>


<%# Show the current show registrations %>
<div id="show_registration_list">
    <% if @exhibitor_registrations.empty? %>
    <p>No exhibitors registered for show.</p>
    <% else %>
      <%= render :partial => 'list' -%>
    <% end %>
</div>


