<% if target.errors.any? %>
<div>
  <h2><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
    <% target.errors.full_messages.each do | msg | %>
    <li><%= msg -%></li>
    <% end %>
  </ul>
</div>
<% elsif !target.new_record? %>
<div>
  <h2><%= "#{target.class.name} successfully saved." -%></h2>
</div>
<% end %>
