<h1>Unregistered Buyers</h1>
<%= form_tag register_buyers_attendances_path, :method => 'post', :class => 'ajaxed' do %>
    <%= select_tag 'buyers[]', options_for_select(buyer_options(@non_attending_buyers)), :multiple => 'multiple', :size => 20 %>
    <%= field_set_tag nil, :class => 'submit'  do -%>
      <%= submit_tag 'Register Exhibitors' %>  <span>or <a class="cancel_form" href="#">Cancel</a></span>
    <% end %>
<% end %>